.row{
  text-align: center;
}

.col-lg-2{
  text-align: center;
}

th{
  font-size: 1.5em;
}

td{
  font-size: 1.3em;
}

input[type="text"]{
  height: 30px;
  margin-right: 5%;
  border-radius: 10px;
  padding-left: .5%;
  border: 2px solid black;
}

.active{
  border: 3px solid black;
  background-color: darkgrey;
  padding-right: 5%;
  padding-left: 5%;
}
